body {
      background:url(/images/background_01.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position:center center;
}
  
.header-inner{
	opacity: 0.9;
      z-index: 10;
}
.main-inner { 
   // margin-top: 60px;
   // padding: 60px 60px 60px 60px;

    opacity: 0.9;
}




  
  
